/*
Box Model:
- solo funciona adecuandamente en el elemento
display: block
- div es una etiqueta que tiene por defecto display:block
- funciona si:
      - las cajas o los elementos tienen contenidos
      - comportamiento por defento:
      - ocupa todo el ancho de pantalla
      -altura depende del cotenido 
funciona asi:
-si los elementos tienen contenido 
- o tiene un tamaño definido

Margin:
-Determina el espacio entre los elementos 
-Solo aplica a elementos display block
-Determinar el computado de margenes 
-Colapso de margenes 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border-top-color: #fa5db3;
    border-top-color: #df84f1;
    border-top-style: groove;
    border-top-width: 5px;
    border-bottom-color:rgb(250, 97, 186) ;
    border-bottom-style:groove ;
    border-bottom-width:10px;
    border-left-color:rgb(224, 152, 188) ;
    border-left-style:groove ;
    border-left-width:10px;
    border-right-color:rgb(230, 105, 220) ;
    border-right-style:groove ;
    border-right-width:10px;

}

.box1{
    margin: 20px 40px ;
    margin-left: 100px;
    margin-bottom: 50px;
    background: rgb(223, 89, 167);
    padding: 50px 45px 3px;
    display: block;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px;
    
    
 
}

.box2{
    background: rgb(240, 58, 118);
    padding: 2px 4px 6px 8px;
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding: 60px;
}